.container {
  height: 100px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 0 50px;
}

.active {
  color: rgb(6, 92, 221);
}

.logo{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
}

